<div style="width:50%">
    <div class="plan plan--popular">
        <div class="card card--primary">
            <header class="card__header">
                <h3 class="plan__name">Business</h3>
                <span class="card__header__price">$24</span>
                <span class="card__header__period">/month</span>
                <span class="badge badge--primary badge--small">20% Off</span>
                <div class="card__header__type">Optima Cloud Experience</div>
            </header>
            <div class="card__body">
                <ul class="list list--tick">
                    <li class="list__item">Item 1</li>
                    <li class="list__item">Item 2</li>
                    <li class="list__item">Item 3</li>
                </ul>

                <div class="card__button">
                    <button class="btn btn--primary btn--block">Push me!</button>
                </div>
            </div>
        </div>
    </div>
</div>